target/
.idea/
*.iml
mysql.properties
application.properties
SpringMail.xml

# Front End Packages
frontend/node_modules/**
node_modules
yarn.lock

# Back End Packages
*.jar
*.war
*.ear
server/target

# IntelliJ & Webstorm
.idea

# Mac OS X
*.DS_Store

# Logs
*.log
