.SurveyBg {
  /*background-image: url(https://www.usnews.com/dims4/USNEWS/00c1950/2147483647/thumbnail/1280x600/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F75%2F12%2Fffeae8ba43178a74e182979bf167%2F150305-airplanevacation-stock.jpg);
  background-position: center;
  background-color: rgba(243, 100, 43, 0.918);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  table-layout: auto;*/
  background-color: rgb(198, 241, 248);
}
/* form {
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
} */

/* .form-button {
  padding: 10px;
} */
/* .button {
  background-color: rgb(100, 170, 236);
  color: white;
  width: 150px;
  padding: 5x;
} */
